[Desktop Entry]
Categories=Utility;System;
Comment[en_GB]=Set up your Fedora system for gaming, content creation, and development
Comment=Set up your Fedora system for gaming, content creation, and development
Exec=pkexec /usr/bin/lgl-system-loadout
GenericName[en_GB]=Fedora Setup Wizard
GenericName=Fedora Setup Wizard
Icon=/home/lgl/projects/fedora-installer/Version 1.0.4/lgl-system-loadout-1.0.4/packaging/lgl-system-loadout-128.png
Keywords=fedora;setup;gaming;install;packages;steam;drivers;
MimeType=
Name[en_GB]=LGL System Loadout
Name=LGL System Loadout
Path=
StartupNotify=true
StartupWMClass=lgl-system-loadout
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
